.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #faf3f3;
  animation: fadeInDown 0.5s ease-in-out forwards; /* Add animation */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-container {
  text-decoration: none;
}

.image {
  width: 100px; /* Adjust as needed */
  border-radius: 3rem;
}

.links-container {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  color: #666;
  text-decoration: underline;
}

.sign-out {
  cursor: pointer;
}

.cart-icon {
  margin-left: 1rem;
  animation: bounce 0.5s infinite alternate; /* Add animation */

  
  
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
