 body{
    margin:0;
    font-family: "Cousine", monospace,"Griffy", system-ui;
    padding: 20px 20px;
 }

 a{
    text-decoration:none ;
    color: rgb(165, 12, 236);
 }

 *{
    box-sizing: border-box;
 }
//  .contact-us-wrapper {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    min-height: 100vh; // Ensure full viewport height
//    background-color: #f9f9f9; // Optional: a light background for better visual
//  }

//  html, body, #root {
//    height: 100%;
//    margin: 0;
//    padding: 0;
//  }
 
//  .contact-us-wrapper {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    min-height: 100vh; // Ensure full viewport height
//    background-color: #f9f9f9; // Optional: a light background for better visual
//  }
 